.page{
    color: #757575;
    background-color: #fff;
}
.logo{
    color: #000000;

/*цвет заголовков color: #212121;*/

/*вторичный цвет текста color: #757575;*/

/*акцент background: #2196F3;*/

/* вторичный цвет фона  background: #F5F4FA;*/

/*белый color: #FFFFFF;*/

/* вторичный белый (footer) color: rgba(255, 255, 255, 0.6); */